### Viajes Ecobici entre estaciones de ecobici

__Descripción:__

Se obtiene las estaciones dentro de un ageb y se muestra el número de viajes a otro ageb

__Input__

- Estaciones de ecobici: Estaciones de ecobici con clave AGEB obtenida de __Uber © 2019 Copyright Uber Technologies, Inc.Data Attributions__

- Viajes Ecobici 2019
Responsable: Ecobici

In [30]:
import pandas as pd

## Estaciones

In [31]:
df_viajes = pd.read_csv('./data/procesado/datos_ecobici_por_ageb.csv',sep=',')
df_viajes.head()

,Ciclo_Estacion_Arribo,Ciclo_Estacion_Retiro,Edad_Usuario,Genero_Usuario,CVE_AGEB_retiro,nombre_estacion_retiro,CVE_AGEB_arribo,nombre_estacion_arribo,Hora_Retiro_round,duracion_viaje_minutos
0,36,67,36,M,1318,67 VICENTE SUAREZ-MICHOACAN,1089,36 PUEBLA-VERACRUZ,0,5
1,36,67,36,M,1318,67 VICENTE SUAREZ-MICHOACAN,1089,36 PUEBLA-VERACRUZ,22,5
2,36,67,34,M,1318,67 VICENTE SUAREZ-MICHOACAN,1089,36 PUEBLA-VERACRUZ,7,4
3,36,67,34,M,1318,67 VICENTE SUAREZ-MICHOACAN,1089,36 PUEBLA-VERACRUZ,7,4
4,36,67,24,M,1318,67 VICENTE SUAREZ-MICHOACAN,1089,36 PUEBLA-VERACRUZ,8,4

In [36]:
df_viajes_gb = df_viajes.groupby([
    'Ciclo_Estacion_Arribo','Ciclo_Estacion_Retiro',"CVE_AGEB_retiro","CVE_AGEB_arribo","nombre_estacion_retiro","nombre_estacion_arribo"
                                ])[["Edad_Usuario"]].count().reset_index(drop=False)

In [37]:
df_viajes_gb.head()

,Ciclo_Estacion_Arribo,Ciclo_Estacion_Retiro,CVE_AGEB_retiro,CVE_AGEB_arribo,nombre_estacion_retiro,nombre_estacion_arribo,Edad_Usuario
0,1,1,790,790,1 RIO SENA-RIO BALSAS,1 RIO SENA-RIO BALSAS,1609
1,1,2,926,790,2 RIO GUADALQUIVIR-RIO BALSAS,1 RIO SENA-RIO BALSAS,610
2,1,3,729,790,3 REFORMA-INSURGENTES,1 RIO SENA-RIO BALSAS,280
3,1,4,926,790,4 RIO NILO-RIO PANUCO,1 RIO SENA-RIO BALSAS,696
4,1,5,822,790,5 RIO PANUCO-RIO TIBER,1 RIO SENA-RIO BALSAS,803

## Quitamos el numero de la columna estación:

In [63]:
df_viajes_gb["nombre_estacion_retiro"] = df_viajes_gb["nombre_estacion_retiro"].str.strip("1234567890")
df_viajes_gb["nombre_estacion_arribo"] = df_viajes_gb["nombre_estacion_arribo"].str.strip("1234567890")

In [64]:
df_viajes_gb.head()

,Ciclo_Estacion_Arribo,Ciclo_Estacion_Retiro,CVE_AGEB_retiro,CVE_AGEB_arribo,nombre_estacion_retiro,nombre_estacion_arribo,Edad_Usuario
0,1,1,790,790,RIO SENA-RIO BALSAS,RIO SENA-RIO BALSAS,1609
1,1,2,926,790,RIO GUADALQUIVIR-RIO BALSAS,RIO SENA-RIO BALSAS,610
2,1,3,729,790,REFORMA-INSURGENTES,RIO SENA-RIO BALSAS,280
3,1,4,926,790,RIO NILO-RIO PANUCO,RIO SENA-RIO BALSAS,696
4,1,5,822,790,RIO PANUCO-RIO TIBER,RIO SENA-RIO BALSAS,803

## renombramos:

In [65]:
df_viajes_gb.rename({"Edad_Usuario":"Numero_de_viajes"},axis=1,inplace=True)

In [67]:
df_viajes_gb.head()

,Ciclo_Estacion_Arribo,Ciclo_Estacion_Retiro,CVE_AGEB_retiro,CVE_AGEB_arribo,nombre_estacion_retiro,nombre_estacion_arribo,Numero_de_viajes
0,1,1,790,790,RIO SENA-RIO BALSAS,RIO SENA-RIO BALSAS,1609
1,1,2,926,790,RIO GUADALQUIVIR-RIO BALSAS,RIO SENA-RIO BALSAS,610
2,1,3,729,790,REFORMA-INSURGENTES,RIO SENA-RIO BALSAS,280
3,1,4,926,790,RIO NILO-RIO PANUCO,RIO SENA-RIO BALSAS,696
4,1,5,822,790,RIO PANUCO-RIO TIBER,RIO SENA-RIO BALSAS,803

## Guardamos

In [69]:
df_viajes_gb.to_csv("./data/production_data/viajes_ecobici_entre_estaciones.csv",index=False)